.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}
.header{
  width: 100vw;
  height: 100vh;
  color: 1px solid red ;
  overflow: hidden;
  position: relative;

}

.overlay{
  width: 100%;
  height: 100%;
  background:#0000002a;
  position: absolute;
  top: 0%;
  left: 0%;
  letter-spacing: -1px;
  line-height: 88px;
  z-index: 0;
}


.Nabar{
  /*border: solid 1px green;
  is for the headings-Home,department,welcome centre,elibary,Feedback,Events*/
  width: 100%;
  position: absolute;
  top: 3%;
}

.header_banner{/*is for the background of the website..*/
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.bannerTxt{/*is For the text in the background: Welcome to Resurrection centre lp33- DE slink*/
  position: absolute;
  width: 70%;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  align-items: center;

}



.bannerTxt h1{/*is for the color of the text in the Background:Welcome to Resurrection centre LP33- DE slink*/
  font-size: 64px;
  text-align: center;
  font-weight:700 ;
  color: #ebebeb;
}

.otherprog {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: auto;
  width: 100%;
  padding: 100;
  text-align: center;
  
}
.img1{
  display: flex;
  background-color: #000676;
}
.otherprogDiv{
  width:50%;
  display: flex;
  gap: 20px;
  height: 700 /*auto fit-content*/;
  align-items: center;
  flex-direction: column;
  
 
}

.otherprog h2{
  font-size: 36px;
  color:#3f3d47; 
  /*border: 1px solid red;*/
  
}

.otherprogcont{
  width: 100%;
  height: auto;
  margin: 0 auto;
  /*border: 1px solid #000;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

}

.otherprogcard{
  width: 100%;
  height: 283px;
  /*border: 1px solid blue;*/
  overflow: hidden;
  position: relative;
}
.imgoverlay{
  width: 100%;
  height: 100%;
  background:#0000002a;
  position: absolute;
  top: 0%;
  left: 0%;
  letter-spacing: -1px;
  line-height: 88px;
  z-index: 0;
}

.imgoverlay:hover{
  background:#000000a6;
}

.otherprogcard img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.otherprogcard p{
  position: absolute;
  bottom: 8%;
  transform: translate(-50%);
  left: 50%;
  z-index: 0;
  color: #f1f1f1;
  font-size: 20px;
  font-weight: 600;

}










