.Nabar{
    
        position: absolute;
        top: 24px;

        /*right:20px;*/
        width: 100%;
      
        display: flex;
        align-items: center;
        
        
        padding: 10px 4%;
      
        z-index: 10;
        
        

      
    
    
}
    /* border: 1px solid#f1f1f1;
    padding: top(20px) right(20px) bottom(20px) left(20px); or 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 40px;*/
.Maincontainer{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    
    
}
.Navcontainer1{
    width: 70%;
    display: flex;
    align-items: center;
    
    gap: 50px;
    /*border: 1px solid red;*/
}
.Navlogo {
    width: fit-content;
    height: 70px;
    position: relative;
    
}
    

.Navlink{
    font-size: 17px;
    font-weight: 500;
    width: auto;
    height: auto;
    /*margin: auto auto;*/
    /*border: 1px solid#cfcfcf;*/
    display: flex;
    gap: 25px;

    /*background:#a7a3a3;*/
    


}
.Nabar li{
    color:white;
    list-style-type:none/* disc*/;
}

.Navcontainer2{
    display: flex;
    align-items: center;
    gap: 42px;
}


